/* style */
.title-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  position: absolute;
  top: 75px;
}

.title-container {
  cursor: default;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title-container h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.title-container p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.card-container {
  margin: 250px 130px;
  display: flex;
  flex-direction: row;
}

.card {
  transition: 0.25s;
  width: 400px;
  max-height: 700px;
  margin: 0 15px 0 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  border: solid 2px #EAEAEA;
  flex-shrink: 0;
}

.card h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tag-title {
  color: #3B92B2;
}

.tag-list {
  cursor: default;
  list-style: none;
  padding: 5px 12px 5px 12px;
  color: white;
  font-size: 15px;
  font-weight: 200;
  border-radius: 5px;
  background-color: #3B92B2;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: normal;
}

/* modal */
.modal {
  display: none;
  z-index: 100;
  width: 100%;
  height: 100vh;
  overflow: visible;
  position: absolute;
}

.modal-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #0000004f;
}

.modal-container {
  z-index: 102;
  margin: 20px 120px;
  padding: 50px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 10px #2028375a;
}

.modal-title {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: solid 2px #E0E0E0;
  border-radius: 20px;
  background-color: #FDFDFD;
}

.modal-description {
  margin: 65px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 300;
}

.modal-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 300;
}

.modal-tag-description {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-tag-description p {
  padding: 5px 8px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  background-color: #3B92B2;
}

.modal-description hr {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #D7D7D7;
}

.modal-description button {
  transition: 0.2s;
  cursor: pointer;
  height: 25px;
  width: 40px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #3B92B2;
}

/* animation */
.card:hover {
  overflow-y: auto;
  transition: 0.25s;
  box-shadow: 0 0 20px #182a5f22;
  transform: translateY(-120px);
}

.modal-description button:hover {
  transition: 0.2s;
  background-color: #2a738d;
}