footer {
  cursor: default;
  margin-top: 80px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #d3d3d3;
  font-family: 'Pretendard', sans-serif;
  background-color: #F2F2F2;
}

.footer-img {
  display: flex;
  gap: 80px;
}

.footer-txt {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}