@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  margin: 0;
  padding: 24px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-family: 'Pretendard', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}