/* style */
#history {
  color: black;
}

.content-container {
  transition: 0.2s;
  cursor: default;
  margin: 15px 90px;
  padding: 30px;
  border: solid 1px #EAEAEA;
  border-radius: 15px;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content h1 {
  margin: 0;
  padding: 0;
  color: #3B92B2;
  font-size: 20px;
  font-weight: 400;
}

.content p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

/* animation */
.content-container:hover {
  transition: 0.2s;
  box-shadow: 0px 0px 15px #e1e1e1;
  transform: scale(1.02);
}