body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard', sans-serif;
  background-color: #F6F6F6;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#card-container {
  padding-left: 108px;
  padding-right: 108px;
  display: flex;
  align-items: center;
  gap: 40px;
  scrollbar-gutter: stable both-edges;
  overflow-y: hidden;
  overflow-x: scroll;
}

.card {
  transition: 0.2s;
  width: 340px;
  height: 428px;
  flex-shrink: 0;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

.card img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.card-description {
  margin: 20px 32px;
}

.card-tag {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-tag p {
  margin: 0;
  padding: 8px 12px;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  background-color: #E2E2E2;
}

.card-txt {
  height: 80px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.card-save {
  display: none;
}

.card-save path {
  fill: #E2E2E2;
}

.card-txt-title {
  cursor: default;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-txt-title h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}

.card-txt-title:hover .card-save {
  cursor: pointer;
  display: block;
}

.card-txt p {
  transition: 0.2s;
  margin: 0;
  overflow: hidden;
  color: #838383;
  font-size: 16px;
  font-weight: 300;
}

.card:hover {
  transition: 0.3s;
  min-height: 600px;
  box-shadow: 0 0 40px #353d4d40;
}

.card:hover .card-txt {
  transition: 0.2s;
  min-height: 156px;
}

.card-description button {
  width: 100%;
  padding: 14px 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  background-color: #44BBBD;
}